// Base style sheet
$dark-bg: #333;
$dark-bg-text: #f1f1f1;

.ico-social {
	display: inline-block;
	width: 32px; height: 32px;
	background: #ccc;
	border-radius: $global-radius;
	vertical-align: middle;
	margin-left:.5rem;

	.ico-social:hover {
		background: #222;
	}
}